@model rentee.Models.Customer

@{
    <br />
    
    ViewBag.Title = Model.customerName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.customerName</h2>
<ul>
    <li>Membership Type: @Model.memberShiptype.MemberShipName</li>
    @if (Model.birthDate.HasValue)
    {
      <li>Born in: @Model.birthDate.Value.ToShortDateString()</li>
    }
    
</ul>  